.timer{
    background-color: black;
    color:greenyellow;
    width: 40px;
    padding-left: 5px;
    margin-left: 140px;
    text-align: left;
}
.cell{
    border-bottom: solid 3px  rgb(133, 133, 133);
    border-right: solid 3px  rgb(133, 133, 133);
    border-top: solid 3px  rgb(230, 230, 230);
    border-left: solid 3px rgb(230, 230, 230);
    background-color: rgb(206, 206, 206);
    width: 22px;
    height: 22px;
    text-align: center;
    
}
body{
   text-align: center;
}
table{
    margin-left: 140px;
}